/*
*  整个项目共有的css
*/
body,p,li,ul{
    margin: 0px;
    padding: 0px;
}
.head{
   width: 100%;
   height: 66px;
   position: fixed;
   top: 0px;
   box-sizing: border-box;
   padding:0px 245px 0px 245px;
   z-index: 10010;
   background: #ffffff;
   opacity: 1;
   border-bottom: 1px solid #ededed;
}
.head-content{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
.head-content ul{
    height: 100%
}
.head-content li{
    display: inline-block;
    margin: -3px;
    height: 68px;
    line-height: 66px;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}
.head-content-list{
   float: left;
   width: 30%;
}
.head-content-list li:hover{
    border-bottom: 2px solid black;
}

.head-content-logo{
    /* width: 600px; */
    width: 40%;
    height:66px;
    float: left;
    text-align: center;
    line-height:66px;
    font-size:40px;
    /* background:url('../assets/icion.png') no-repeat 50% 50%; */
}
.head-content-logo img{
    position: relative;
    top:4px;
    width: 60px;
    height: 60px;
}
.head-content-icon{
    /* width: 220px; */
    width: 30%;
    height: 66px;
    box-sizing: border-box;
    float: left;
}
.head-content-icon li{
   width: 33px;
   text-align: center;

}
.head-content-icon img{
    margin: auto;
    position: relative;
    top:7px;
}
.icon-person{
    float: right;
    position: relative;
    background: url('../assets/personal.png') no-repeat 50% center;
}
.icon-person:hover{
    background: url('../assets/personal2.png') no-repeat 50% center;
}

.content{
  margin-top:66px;
  width: 100%;
  min-height: 500px;
}
.footer .copyright {
    margin-top: 18px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}
.bd-line {
    border-top: 1px solid #e2e2e2;
}
.al-c {
    text-align: center;
}
.f-weight {
    font-weight: 500;
}
.footer .copyright .links a {
    color: #1d2129;
    line-height: 17px;
    margin-bottom: 7px;
    padding: 0 7px;
    display: inline-block;
}

.input-small{
    width: 66px;
}
